# SUPABASE CONFIGURATION
# Salin file ini menjadi .env kemudian isi dengan kredensial proyek Supabase Anda.

# Masukkan URL API Supabase Anda (bisa dilihat di Project Settings -> API)
SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL

# Masukkan Service Role Key Supabase Anda (paling direkomendasikan untuk mem-bypass RLS paduan operasi CRUD Admin)
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

# Atau alternatifnya gunakan Anon Key jika RLS diizinkan secara terbuka
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
